

html {
    font-family: "Helvetica",Dotum,Arial,Verdana,sans-serif;
    font-size: 13px;
}
body {
    background-color: #555;
}
button { 
    outline: none;
}
button .sidebar-btn {
    color: #fff;
    font-weight: bold;

}
.sidebar {
    background-color: #222;
    width: 285px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -285px;
    z-index: 9999;
    margin-top: 66px;
}
.sidebar > .sidebar-content {
    position: absolute;
    top: 20px;
    left: 86px;
    color: #fff;
    height: 100%;
    background: none;
    margin-top: -87px;
}
.sidebar button {
    background-color: #222;
    display: block;
    position: absolute;
    top: 117px;
    left: 270px;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-left: 14px;
    padding: 0;
    border: none;
    border-radius: 10px;

}
.sidebar-content{
    font-size : 25px;
    text-align: center;

}



/* 	작성자 : 박주완
	작성일 : 2020-02-18
	내용 : 버튼들 위치 수정 */
#btn1{
	margin-top: 100px;
}

#adminMenuBtn{
	bottom: 10px;
	position: absolute;
    left: 30px;
}

#menusearch1{
	width:170px; 
	height:22px;

}

#footer{
	bottom: 64px;
    position: absolute;
    left: 0px;
    width: 200px;
}

#menusearchBtn{
    position: absolute;
    width: 25px;
    height: 27px;
    top: 376px;
    border-radius: 2px;
    left: 166px;

}



