#updatepage{
    width: 700px;
    height: 700px;
    margin: 0px auto;
    padding: 15px;
    padding-top: 100px;
    border: none;
}

#updatecontent{
    border: none;
    background-color: white;
    width: 690px;
    height: 560px;
    padding: 10px;
    padding-top: 15px;
    font-size: 20px;
}

#bottom{
    margin-bottom: 10%;
}

#updatetext{
    margin-top: 40px;
    margin-left: 15%; 
    margin-right: 15%;
}
#idupdate{
    margin-left: 15%; 
    margin-right: 15%; 
    margin-top: 40px;
}
#pwd{
    margin-left: 15%; 
    margin-right: 15%;
}
#nicname{
    margin-left: 15%; 
    margin-right: 15%;
}
#email{
    margin-left: 15%; 
    margin-right: 15%;
}
#phone{
    margin-left: 15%; 
    margin-right: 15%;
}
#gender{
    margin-left: 15%; 
    margin-right: 15%;
}
#gender {position: relative;}
#gender input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
#gender input[type="radio"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
#gender input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: -4px; width: 21px; height: 21px; text-align: center; background: #fafafa; border: 1px solid #cacece; border-radius: 100%; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); }
#gender input[type="radio"] + label:active:before, .checks input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
#gender input[type="radio"]:checked + label:before { background: #E9ECEE; border-color: #adb8c0; }
#gender input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 1px; left: 5px; width: 13px; height: 13px; background: rgb(15, 76, 129); border-radius: 100%; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); }


#introduction{
    margin-left: 15%; 
    margin-right: 15%;
}
#rebtn{
    margin-left: 15%; 
    margin-right: 15%;
    cursor: pointer;
}

#idok{
    font-size:12px;
    width: 70%;
    height: 35px;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
    border-color:lightgray;
}

#idokbtn{
    width: 120px;
    height: 35px;
    float: right;
    cursor: pointer;
}

#upbtn{
    margin-left: 15%; 
    margin-right: 15%;
}

#updatebtn{
    width: 100%; 
    height: 50px;
    cursor: pointer;
    height: 50px; 
    cursor:pointer;
    background: rgb(15, 76, 129);
    border-color:  rgb(15, 76, 129);
    color:white;
}
.redata{
    font-size:12px;
    width: 70%;
    height: 35px;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
    border-color: lightgray;
}

#introduce{
    font-size:12px;
    width: 100%;
    height: 35px;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
    border-color: lightgray;
}

.redata::placeholder {color: lightgray;}

.redata:focus{outline: none;}

button:focus{outline: none;}

label{
    font-size: 13px;
    font-weight: bold;
}

#registerpage .redata[type=text]:focus {
    border-color: black;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
}
#registerpage input[type=password]:focus {
    border-color: black;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
}    

#auth{
    font-size:12px;
    width: 70%;
    height: 35px;
    border-top: 0;
    border-right:0; 
    border-left:0; 
    border-bottom: 1; 
    border-color:lightgray;
}

#authbtn{
    width: 120px;
    height: 35px;
    
    cursor: pointer;
}

#authtext{
    width: 200px;
    height: 30px;
}
